<!DOCTYPE html>
<html>
<title>Show Account Site</title>
<div data-th-replace="fragments/head :: head"></div>

<body>
	<div th:replace="fragments/nav :: copy('showAccounts')"></div>
	
	<div id="standardView">
		<h1>Show Account</h1>
		<div>
			<a>Hier kommt der Name</a> <label th:text="${user}"></label>
		</div>

		<div>

			<table>
				<thead>
					<tr>
						<th>Type</th>
						<th>Currency</th>
						<th>Iban</th>
						<th>Name</th>
					</tr>
				</thead>

					<tr th:each="account : ${accounts}">
						<td th:text="${account.cashAccountType}" />
						<td th:text="${account.currency}" />
						<td th:text="${account.iban}"/ >
						<td th:text="${account.name}"/ >
					</tr>
			</table>
		</div>

		<h4>* * * * AB HIER ZUM BASTELN * * * *</h4>
		<div>
			<table>
					<tr>
						<th>Name</th>
						<th>Iban</th>
						<th>Currency</th>
						<th>BalanceAmount</th>
					</tr>
						<th:block th:each="account : ${accounts}">
					<tr>
						<td th:text="${account.name}" />
						<td th:text="${account.iban}" />
						<td th:text="${account.currency}" />
						<td th:text="${account.cashAccountType}" />
						<td />
					</tr>
					<tr>
						<th>Currency</th>
						<th>Amount</th>
						<th>Type</th>
					</tr>

					<th:block th:each="balance : ${account.balances}">
						<tr>
							<td th:text="${balance.balanceAmount.currency}" />
							<td th:text="${balance.balanceAmount.amount}" />
							<td th:text="${balance.balanceType}" />
						</tr>
					</th:block>
<!-- 
					<tr>
							<th>Transaction ID</th>
						</tr>
					<th:block th:each="transaction : ${account.transactions}">
						<tr>
							<td th:text="${transaction.transactionId}" />
						</tr>
						 -->
					</th:block>
			</table>
		</div>


	<div id="right_half_container">
		<div th:replace="fragments/amountsFromAccounts :: copy"></div>
	</div>

		<div th:replace="fragments/footer :: copy"></div>
</body>
</html>