<!DOCTYPE html>
<html>
<title>Show Account Site </title>
<div data-th-replace="fragments/head :: copy"></div>

<body>
	<div th:replace="fragments/nav :: copy('showAccounts')"></div>
    <div id ="standardView">
		 <h1>Show Account Site</h1>
		 <div><a>Hier kommt der Name</a> 
		<label th:text="${user}"></label>
        </div>		 

<div>
<table>
    <thead><tr><th> Type </th><th> Currency </th><th> Iban </th><th> Name </th></tr> <th> NEWBalanceAmount </th><th> NEWCurrency </th></tr></thead>
    
    <tbody><tr th:each="account : ${accounts}">
			<td><span th:text="${account.cashAccountType}"> account.cashAccountType </span></td>
            <td><span th:text="${account.currency}"> Account.currency </span></td>
            <td><span th:text="${account.iban}"> Account.Iban </span></td>
            <td><span th:text="${account.name}"> Account.Name </span></td>
            
           
                    		<tr th:each="balance : ${balances}">
							<td><span th:text="${balance.amount}">balanceAmount </span></td>
							<td><span th:text="${balanceAmount.amount}">b22222alanceAmount </span></td>
            				<td><span th:text="${balance.currency}"> Währung </span></td></tr></div>
	        
    </tbody>
</table>
</div>

 <h1>* * * * AB HIER ZUM BASTELN * * * * </h1>

<div>
<table>
    <thead><tr><th> Type </th><th> Currency </th><th> Iban </th><th> Name </th></tr></thead>
    
    <tbody><tr th:each="testListe : ${testListes}">
			<td><span th:text="${account.cashAccountType}"> account.cashAccountType </span></td>
            <td><span th:text="${account.currency}"> Account.currency </span></td>
            <td><span th:text="${account.iban}"> Account.Iban </span></td>
            
            <th> NEWBalanceAmount </th><th> NEWCurrency </th></tr>
                    		<tr th:each="balance : ${balances}">
							<td><span th:text="${balance.amount}">balanceAmount </span></td>
							<td><span th:text="${balanceAmount.amount}">b22222alanceAmount </span></td>
            				<td><span th:text="${balance.currency}"> Währung </span></td></tr></div>
            				
            				
            <!-- 
            				
            				<tr th:each="emp,iterStat : ${empList}">
       <td th:text="${emp.id}">ID</td>
       <td th:text="${accList[iterStat.index].field}">Emp Account</td> 
</tr>.
            				
            				
            				
             -->				
            				
            				
            							
	        
    </tbody>
</table>
</div>



<!-- 
			<option th:each="account : ${accounts}"
                            th:value="${account.iban}"
                            th:utext="${user.name}"/>
To Do 
Accounts anzeigen. 
Balance  & Transaction = Liste. 
Für jedes Each ---- wieder ein Eacht machen. 
 -->






      <div th:replace="fragments/footer :: copy"></div>
</body>
</html>