<!DOCTYPE html>
<html>
<title>Show Account Site </title>
<div data-th-replace="fragments/head :: copy"></div>

<body>
	<div th:replace="fragments/nav :: copy('showAccounts')"></div>
    <div id ="standardView">
		 <h1>Show Account Site</h1>


<div>
<table>
    <thead>

        <tr>
            <th> Type </th><th> Currency </th><th> Iban </th><th> Iban </th>
        </tr>
    </thead>
    
    <tbody>
        <tr th:each="account : ${accounts}">
			<td><span th:text="${account.cashAccountType}"> cashAccountType </span></td>
            <td><span th:text="${account.currency}"> Währung </span></td>
            <td><span th:text="${account.iban}"> Iban </span></td>
            
                    
            <th> NEWBalanceAmount </th><th> NEWCurrency </th>
        </tr>
            
                    		<tr th:each="balance : ${balances}">
							<td><span th:text="${balance.amount}">balanceAmount </span></td>
            				<td><span th:text="${balance.currency}"> Währung </span></td>
	        				</tr>
	        				
	        				
	        				      <th> balanceListMap </th>
	        				
	        				 		<tr th:each="SaldiListe : ${balanceListMaps}">
            				<td><span th:text="${balanceListMap.currency}"> Währung </span></td>
	        				</tr>
	        				
	        				
	        				
	        
    </tbody>
</table>
</div>

<!-- 
			<option th:each="account : ${accounts}"
                            th:value="${account.iban}"
                            th:utext="${user.name}"/>
To Do 
Accounts anzeigen. 
Balance  & Transaction = Liste. 
Für jedes Each ---- wieder ein Eacht machen. 
 -->

<div>




      <div th:replace="fragments/footer :: copy"></div>
</body>
</html>